

/* */
* {
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: gray;
  align-items: center;
  /* Padding affects name with blue box */ 
  padding: 0 5%;
  color: #fff;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(219, 177, 70);
}

.main-header {
  display: flex;
  /* Puts elements to next line if they dont fit */
  flex-wrap: wrap;
  /* items are evenly distributed in the line */
  justify-content: space-between;
  width: 100%;
}

.name-title {
  /* background-color: steelblue; */
  padding: 1rem;;
}

.links {
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  color: floralwhite;
  text-decoration: wavy;
}
/* when mouse is placed over links/buttons in the header */
.links:hover {
  color: #772014;
  color: cornflowerblue;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;
}
/* when user interacts. Links/buttons in the header */
.links:active {
  box-shadow: 0 0 10px #000 inset;
}

.img-container {
  position: relative;
}

/* placeholder img under border */
.box1 {
  width: 100%;
  height: 200px;
}

.img-text {
  position: absolute;
  bottom: 1.563rem; 
  right: 2rem;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}


/* Flexbox CSS code*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem;
}

.justify-center {
  justify-content: center;
}

.flexbox1 {
  /* flex-direction: column;*/
  font-size: larger;
  flex: 1;
  text-align: end;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.flexboxtext1 {
  /* flex-direction: column; */
  flex: 1.5;
  min-width: 70%;
  padding: 1.5rem;
  border-left: solid black;
}


.flexbox2 {
  /* flex-direction: column; */
  font-size: larger;
  flex: 1;
  text-align: end;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.placeholderimg {
  position: relative;
  min-width: 70%;
  /* flex-direction: column;*/
  flex-wrap: wrap;
  flex: 1.5;
  padding: 1.5rem;
  border-left: solid black;
}

.box2 {
  justify-content: flex-end;
  padding: .5rem;
  width: 90%;
  height: 28.125rem;
}
.img-text2 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.box3 {
  justify-content: flex-end;
  padding: .5rem;
  width: 45%;
  height: 14.063rem;
}
.img-text3 {
  position: absolute;
  background-color: gray;
  color: floralwhite;
  font-weight: bolder;
}

.box4 {
  justify-content: flex-end;
  padding: .5rem;
  width: 45%;
  height: 14.063rem;
}
.img-text4 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.img-text5 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}
.img-text6 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.box2,
.box3,
.box4 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden
}

.box2:hover,
.box3:hover,
.box4:hover {
  opacity: 0.5;
}

.flexbox3 { 
  /* flex-direction: column; */
  font-size: larger;
  flex: 1;
  text-align: end;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.contactlinks {
  display: flex;
  /* flex-direction: column; */
  min-width: 70%;
  flex: 1.5;
  padding: 1.5rem;
  border-left: solid black;
  justify-content: space-evenly;
}

.contactlinksref {
  align-items: center;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  color: black;
  text-decoration: wavy;
}

/* when mouse is placed over links/buttons in the header */
.contactlinksref:hover {
  color: cornflowerblue;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;
}
/* when user interacts. Links/buttons in the header */
.contactlinksref:active {
  box-shadow: 0 0 10px #000 inset;
}

@media screen and (max-width: 992px) {
  * {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  * {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 616px) {
  .flexboxtext1,
  .placeholderimg,
  .contactlinks {
    border-left: none;
  }
}

@media screen and (max-width: 600px) {
  * {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 395px) {
  .contactlinks {
    display: flex;
    flex-direction: column;
  }
  .img-text {
    right: 1rem;
  }
}