/* */
/* midnight blue: #0c264d */
* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  /* background-color: gray; */
  align-items: center;
  /* Padding affects name with blue box */
  padding: 0 5%;
  color: #fff;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: ghostwhite;
}

.main-header {
  position: sticky;
  top: 0;
}

/*  Menu btn for mobile  */
.menu-btn {
  display: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.header-logo{
  width: 15rem;
}


.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: black;
}
/*^^  Menu btn for mobile  ^^*/

.nav-link {
  display: flex;
  justify-content: center;
}

.name-title {
  /* background-color: steelblue; */
  padding: 1rem;
  ;
}

.ul-links {
  margin: 0;
  padding: 0;
}

.links {
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  color: floralwhite;
  text-decoration: wavy;
}

/* when mouse is placed over links/buttons in the header */
.links:hover {
  color: #772014;
  color: cornflowerblue;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;

}

/* when user interacts. Links/buttons in the header */
.links:active {
  box-shadow: 0 0 10px #000 inset;
}

.background-container {
  /* background-image: url(./cabackground-blue.jpg); */
  background-image: url(./pexels-joyston-judah-933054.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.down-arrow {
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.arrow {
  border: solid floralwhite;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

.background-container2 {
  /* background-image: url(./cabackground-blue.jpg); */
  /* background-image: url(./coding.jpg); */
  background-blend-mode: normal;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.logo-img {
  position: relative;
  height: 300px;
  width: 300px;
}

/* Arrow background  */
.bck-ground-img {
  height: 100%;
  width: 100%;
  /* background-color: ivory; */
  background-image: url();
  /*
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
}

.bck-div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bck-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bck-text-h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 32px;
}

.profile {
  display: flex;
}

.profile-div {
  display: flex;
  padding: 1rem;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.profile-text {
  flex: 1.5;
  min-width: 70%;
  padding: 1.5rem;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* placeholder img under border */
.box1 {
  width: 100%;
  height: 200px;
}

.img-text {
  position: absolute;
  bottom: 1.563rem;
  right: 2rem;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}


/* Flexbox CSS code*/
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.5rem;
}

.justify-center {
  justify-content: center;
}

.flexbox1 {
  /* flex-direction: column;*/
  font-size: larger;
  flex: 1;
  text-align: end;
  padding-top: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  /* margin-bottom: 1.5rem;
  margin-right: 1.5rem; */
}

.flexboxtext1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1.5;
  /* min-width: 35%; */
  max-width: 55%;
  margin: 1rem;
  padding-top: 1rem;
  /* border-left: solid black; */
}
.flexboxtext1-pt2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1.5;
  /* min-width: 35%; */
  min-width: 25%;
  padding-top: 1rem;
  /* border-left: solid black; */
}

.updated-style-text-header{
  background-color: #f6847d;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5em;
}
.updated-style-text-header-smaller{
  background-color: #f6847d;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2em;
}
.name-styling{
  border-bottom: solid 3px #f6847d;
}

.get-to-know-me{
  margin-top: -5px;
}

.work-section{
  background-color: rgb(127,114,129,.5);
}

.icon-skills-parent{
  margin: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.icon-skills{
  width: 30%;
  padding: .5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.flexbox2 {
  /* flex-direction: column; */
  font-size: larger;
  flex: 1;
  text-align: end;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

/* .fix-flex1 {
  display: flex;
  justify-content: flex-start;
}

.fix-flex2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
} */

.placeholderimg {
  position: relative;
  min-width: 70%;
  /* flex-direction: column;*/
  flex-wrap: wrap;
  flex: 1.5;
  padding: 1.5rem;
  /* border-left: solid black; */
}

.box2 {
  justify-content: flex-end;
  padding: .5rem;
  width: 90%;
  height: 38.125rem;
}

.div-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-text2 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.box3 {
  justify-content: flex-end;
  padding: .5rem;
  width: 45%;
  height: 14.063rem;
}

.img-text3 {
  position: absolute;
  background-color: gray;
  color: floralwhite;
  font-weight: bolder;
}

.box4 {
  justify-content: flex-end;
  padding: .5rem;
  width: 45%;
  height: 14.063rem;
}

.img-text4 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.img-text5 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.img-text6 {
  position: absolute;
  background-color: gray;
  padding: 1rem;
  color: floralwhite;
  font-weight: bolder;
}

.box2,
.box3,
.box4 {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden
}

.box2:hover,
.box3:hover,
.box4:hover {
  opacity: 0.5;
}

.flexbox3 {
  /* flex-direction: column; */
  font-size: larger;
  flex: 1;
  text-align: end;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.contactlinks {
  display: flex;
  /* flex-direction: column; */
  min-width: 70%;
  flex: 1.5;
  padding: 1.5rem;
  /* border-left: solid black; */
  justify-content: space-evenly;
}

.contactlinksref {
  align-items: center;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
  color: black;
  text-decoration: wavy;
}

/* Arrow background  */
/*
.bck-ground-img-footer {
  /*background-image: ;*/
/*
  height: 30%;
  width: 100%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
*/

/* when mouse is placed over links/buttons in the header */
.contactlinksref:hover {
  color: cornflowerblue;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;
}

/* when user interacts. Links/buttons in the header */
.contactlinksref:active {
  box-shadow: 0 0 10px #000 inset;
}

/* Added border and border radius  */
#img-PWG,
#img-RQG,
#img-WDS,
#img-API,
#img-github {
  border: solid 1px black;
  border-radius: 5%;
}

@media screen and (max-width: 1110px) {
  #name-logo {
    width: 50rem;
  }
}

@media screen and (max-width: 992px) {
  * {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  #name-logo {
    width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  * {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 616px) {

  .flexboxtext1,
  .placeholderimg,
  .contactlinks {
    border-left: none;
  }
  .flexbox1,
  .flexbox2,
  .flexbox3 {
    margin: 0;
  }
  #name-logo {
    width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  * {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #name-logo {
    width: 23rem;
  }
  .img-container {
    justify-content: space-around;
  }
  .ul-links {
    display: flex;
    flex-direction: row;
  }
  .links {
    padding: .25rem;
    font-size: medium;
  }
}


@media screen and (max-width: 395px) {
  .contactlinks {
    display: flex;
    flex-direction: column;
  }

  .img-text {
    right: 1rem;
  }

  #img-WDS,
  #img-RQG,
  #img-API,
  #img-github {
    height: 7rem;
  }

  #img-PWG {
    height: 10rem;
  }
}


@media screen and (max-width: 370px) {
  .placeholderimg {
    display: flex;
  }
  .box2,
  .box3,
  .box4 {
    min-width: 70%;
    height: 10rem;
  }
  #name-logo {
    width: 20rem;
  }
}

@media screen and (max-width: 325px) {
  #name-logo {
    width: 18rem;
  }
  .ul-links {
    display: none;
    flex-direction: column;
  }
  .menu-btn {
    display: flex;
  }
}

@media screen and (max-width: 300px) {
  .flexbox1,
  .flexbox2,
  .flexbox3 {
    padding: 0;
    margin: 0;
  }
  #name-logo {
    width: 15rem;
  }
}

