

/* */
* {
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: gray;
  align-items: center;
  /*border: 10px;*/
  padding: 0 100px;
  color: #fff;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
}

button {
  border: none;
  border-style: none;
  color: white;
  background-color: none;
}

button:hover {
  background-color: #772014;
  color: #fff;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;
}

button:active {
  box-shadow: 0 0 10px #000 inset;
}

.flexboxbody {

}

.name-title {
}

.main-header {
  display: flex;
  /* Puts elements to next line if they dont fit */
  flex-wrap: wrap;
  /* items are evenly distributed in the line */
  justify-content: space-between;
}

.about-me {

}

/* when mouse is placed over links/buttons in the header */
.links:hover {
  background-color: #772014;
  color: #fff;
  /* transition allows links/buttons in border to grow when hovered */
  transition: all .4s ease-in-out;
}
/* when user interacts. Links/buttons in the header */
.links:active {
  box-shadow: 0 0 10px #000 inset;
}

/* placeholder img under border */
.box1 {
  width: 100%;
  height: 200px;
}


.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 13%;
  color: darkslategrey;
}

.about-text {
  position: relative;
  
}

/*
.verticalLine {
  border-left: thick solid darkslategrey;
}
*/
